{% extends "vaccine_center/center_home.html" %}
{% block body %}


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form action="" method="get">
<table width="734" height="154" border="1" class="table table-primary">
  <tr>
    <th width="76" scope="col">#</th>
    <th width="263" scope="col">VACCINE NAME</th>
    <th width="263" scope="col">BABY NAME</th>
    <th width="119" scope="col">DATE</th>
    <th width="119" scope="col">REPORT</th>
    <th width="119" scope="col"> </th>
  </tr>
    {% for i in data %}
  <tr>
    <td>&nbsp;{{ loop.index }}</td>
    <td>&nbsp;{{ i['vaccine_name'] }}</td>
    <td>&nbsp;{{ i['baby_name'] }}</td>
    <td>&nbsp;{{ i['date'] }}</td>
    <td> <a href="{{ i['report'] }}" class="btn btn-behance">REPORT</a></td>
    <td> <a href="/delete_report/{{ i['report_id'] }}" onclick="return confirm('Are you sure to delete?')" class="btn btn-danger">DELETE</a> </td>
  </tr>
    {% endfor %}
  </table>
</form>
</body>
</html>
{% endblock %}