{% extends "parent/parent_home.html" %}
{% block body %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form action="" method="post">
<table width="200" border="1" class="table table-primary">
  <tr>
    <th scope="row">Baby Name</th>
    <td><label for="textfield"></label>
      <input type="text" name="textfield" id="textfield" value="{{ data1['baby_name'] }}" required/></td>
  </tr>
  <tr>
    <th scope="row">DOB</th>
    <td><label for="date"></label>
      <input type="text" name="date" id="date" value="{{ data1['dob'] }}" required/>
    <p><i>Age should be in the format of 1 months </i></p></td>
  </tr>
  <tr>
    <th scope="row">GENDER</th>
    <td><p>
      <label>
        <input type="radio" name="RadioGroup1" value="Male" id="RadioGroup1_0" {% if data1['gender']=="Male" %}checked{% endif %} />
        Male</label>
      <br />
      <label>
        <input type="radio" name="RadioGroup1" value="Female" id="RadioGroup1_1" {% if data1['gender']=="Female" %}checked{% endif %}/>
        Female</label>
      <br />
    </p></td>
  </tr>
  <tr>
    <th scope="row">Weight</th>
    <td><label for="textfield2"></label>
      <input type="text" name="textfield2" id="textfield2" value="{{ data1['weight'] }}" required/></td>
  </tr>
  <tr>
    <th colspan="2" scope="row"><input type="submit" name="UPDATE" id="UPDATE" value="UPDATE" /></th>
  </tr>
</table>
</form>
</body>
</html>
{% endblock %}