{% extends "admin/admin_home.html" %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form action="" method="post">
<table width="333" border="1" class="table table-primary">
  <tr>
    <th width="177" scope="row">CENTER NAME</th>
    <td width="140"><label for="textfield"></label>
      <input type="text" name="textfield" id="textfield" required/></td>
  </tr>
  <tr>
    <th scope="row">PLACE</th>
    <td><label for="textfield2"></label>
      <input type="text" name="textfield2" id="textfield2" required/></td>
  </tr>
  <tr>
    <th scope="row">PINCODE</th>
    <td><label for="number"></label>
      <input type="text" name="number" id="number" required/></td>
  </tr>
  <tr>
    <th scope="row">PHONE</th>
    <td><label for="number"></label>
      <input type="text" name="number2" id="number2" pattern="[6789][0123456789]{9}"  maxlength="10" required/></td>
  </tr>
  <tr>
    <th width="177" scope="row">EMAIL</th>
    <td width="140"><label for="textfield"></label>
      <input type="email" name="textfield3" id="textfield"  required /></td>
  </tr>
  <tr>
    <th colspan="2" scope="row"><center><input type="submit" name="button" id="button" value="ADD" class="btn btn-behance"/></center></th>
    </tr>
</table>
</form>
</body>
</html>
{% endblock %}