{% extends "admin/admin_home.html" %}
{% block body %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form action="" method="post">
<table width="200" border="1" class="table table-primary">
  <tr>
    <th scope="col">#</th>
    <th scope="col">BABY NAME</th>
    <th scope="col">DATE</th>
    <th scope="col">CENTER NAME</th>
    <th scope="col">VACCINE NAME</th>

{#    <th scope="col" class="btn btn-facebook">REPORT</th>#}
    </tr>
    {% for i in data %}
  <tr>
    <td> {{ loop.index }}</td>
    <td> {{ i['baby_name'] }}</td>
    <td> {{ i['date'] }}</td>
    <td> {{ i['center_name'] }}</td>
    <td> {{ i['vaccine_name'] }}</td>

    <td> <a href="{{ i['report'] }}" class="btn btn-facebook">REPORT</a> </td>
    </tr>
    {% endfor %}
</table>

</form>
</body>
</html>
{% endblock %}