{% extends "admin/admin_home.html" %}
{% block body %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form action="" method="get">
<table width="400" border="1" class="table table-primary">
  <tr>
    <th width="12" scope="col">#</th>
    <th width="76" scope="col">CENTER NAME</th>
    <th width="56" scope="col">PLACE</th>
    <th width="82" scope="col">PINCODE</th>
    <th width="115" scope="col">EMAIL</th>
    <th width="90" scope="col">PHONE</th>
    <th width="90" scope="col"> </th>
  </tr>
    {% for i in data %}
  <tr>
    <td>&nbsp;{{ loop.index }}</td>
    <td>&nbsp;{{ i['center_name'] }}</td>
    <td>&nbsp;{{ i['center_place'] }}</td>
    <td>&nbsp;{{ i['center_pincode'] }}</td>
    <td>&nbsp;{{ i['email'] }}</td>
    <td> {{ i['phone_no'] }}</td>
    <td><p><a href="/update_center/{{ i['center_id'] }}" class="btn btn-success">UPDATE</a></p>
      <p><a href="/delete_center/{{ i['center_id'] }}" onclick="return confirm('Are you sure to delete?')" class="btn btn-danger">DELETE</a></p></td>
  </tr>
    {% endfor %}
</table>
</form>
</body>
</html>
{% endblock %}